.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 3px solid purple;
  border-image: linear-gradient(90deg, #714dff, #e151ff) 1;
  border-radius: 5px;
  box-sizing: border-box;
  flex-direction: column;
  font-weight: bold;
}
.login-container {
  display: flex;
  flex-shrink: 1;
}
.login {
  width: 100vh;
  display: flex;
  flex-direction: row;
  /* gap: 50%; */
  height: 50vh;
  align-items: center;
  flex-shrink: 1;
}
.login-button {
  color: white;
  font-weight: bold;
}
.login-button:hover {
  color: black;
  background-color: rgb(207, 207, 207);
  font-weight: bold;
  transition: ease-in-out 0.2s;
}
.signup-msg {
  color: white;
  font-weight: bold;
}
.popup {
  font-weight: bold;
  color: rgb(255, 0, 242);
}
.popup:hover {
  text-decoration: underline;
  transition: ease-in-out 0.5s;
}
