.register {
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 1;
}
.form-group {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  flex-shrink: 1;
}
.full-name {
  display: flex;
  gap: 0.5rem;
}
input {
  height: 3rem;
  border-radius: 10px;
}
select {
  height: 3rem;
  border-radius: 10px;
}
.submit-btn {
  background-color: rgb(43, 43, 43);
  color: aliceblue;
}
.submit-btn {
  background-color: rgb(43, 43, 43);
  color: aliceblue;
}
.submit-btn:hover {
  background-color: rgb(212, 212, 212);
  color: rgb(59, 59, 59);
  transition: ease-in-out 0.2s;
}
.login-msg {
  color: white;
  /* border: 2px solid red; */
  justify-content: center;
  display: flex;
}
.popup {
  margin-left: 1%;
}
